@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #222327;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}

.nav{
    position: relative;
    width: 70px;
    height: 400px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.nav ul{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.nav ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.nav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.nav ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
    opacity: 1;
}

.nav ul li.active a .icon{
    transform: translateX(-74px);
    opacity: 0;
}

.nav ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 600;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(20px);
}

.nav ul li.active a .text{
    opacity: 1;
    transform: translateY(0px);
}